<div class="container">
  <div class="row mt-5 text-center">
    <a href="/" class="fs-1 mt-5" style="color:#535559;text-decoration:none;">URL Shortener</a>
    <i class="fa fa-link my-3" style="color:#ABD0CE;font-size:10rem"></i>
    <div class="col-lg-7 my-3 mx-auto">
      <form action="/" method="POST">
        <div class="input-group">
          <input name="originalUrl" type="url" class="form-control " id="originalUrl" placeholder="Input URL here..."
            value="{{ urlData.originalUrl }}" required>
          <div class="input-group-append">
            <button class="btn btn-secondary" type="submit">Shorten</button>
          </div>
        </div>
      </form>
      {{#if urlData.originalUrl}}
      <div class="alert alert-light my-3" style="background-color:#ABD0CE" role="alert">
        <span>Success! Please use this link:</span>
        <a href="{{ urlData.originalUrl }}" name="shortUrl" id="shortUrl" style="text-decoration:none;" >{{urlData.shortUrl}}</a>
        <button class="btnCopy btn btn-light mx-2">COPY</button>
      </div>
      {{/if}}
    </div>
  </div>
</div>

<script>
  const btnCopy = document.querySelector('.btnCopy')
  btnCopy.addEventListener('click', function () {
    // 建立 Range 物件
    const range = document.createRange()
    // 將指定元素內容加到 Range 中
    const shortUrl = document.querySelector('#shortUrl')
    range.selectNode(shortUrl)
    // 取得 Selection 物件
    const selection = window.getSelection()
    // 先清空當前選取範圍
    selection.removeAllRanges()
    // 加入 Range 
    selection.addRange(range)

    document.execCommand('copy')
    selection.removeAllRanges()
    alert("Copied.")
  })
</script>