<div class="container">
  <div class="row mt-5 text-center">
    <p class="fs-1" style="color: #535559;">URL Shortener</p>
    <i class="fa fa-link my-3" style="color:#ABD0CE;font-size:10rem"></i>
    <div class="col-sm-8 my-3 mx-auto">
      <form action="/" method="POST">
        <div class="input-group">
          <input name="originalUrl" type="text" class="form-control " id="originalUrl" placeholder="Input URL here..."
             value="{{ originalUrl }}"required>
          <div class="input-group-append">
            <button class="btn btn-light" style="background-color: #a79c8e;" type="submit">Shorten</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
